.custom-file__input {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}
.custom-file__label {
    position: relative;
    display: block;
    width: 50%;
    min-width: 335px;
    min-height: 45px;
    margin: 10px 0;
    padding: 0;
    background: #fff;
    border: 1px solid #dfdfdf;
    color: #666;
    line-height: 45px;
    text-align: center;
    text-transform: none;
    cursor: pointer;
    transition: all 0.3s;
}
.custom-file__input:valid ~ .custom-file__label {
    border-color: #39b54a;
    background: #39b54a;
    color: #39b54a;
}
.custom-file__input:valid ~ .custom-file__label:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
    font-family: "FontAwesome";
    line-height: 45px;
}
